In [1]:
from os import getcwd, listdir
from os.path import join
import datetime
import pandas as pd
from util import SqlConnector
%load_ext autoreload
%autoreload 2

In [ ]:
sql = SqlConnector(server_name='DESKTOP-KBD6HFH', 
                   database_name='CryplogHist', 
                   user_name='Derb', 
                   password='2777')

In [ ]:
data_dir = join(getcwd(),'data')
data_files = listdir(data_dir)

for data_file in data_files:
    file_path = join(data_dir, data_file)
    data = sql.excel_to_sql(file_path=file_path, sql_table_name='PVC')
    print(f'{data_file} is uploaded\n')

In [2]:
import PVC_downloader

In [4]:
PVC_downloader.get_pvc_by_id('bitcoin')

                            Price        Volume    Market_Cap    Asset
Date
2013-04-28 02:00:00    135.300000  0.000000e+00  1.500518e+09  bitcoin
2013-04-29 02:00:00    141.960000  0.000000e+00  1.575032e+09  bitcoin
2013-04-30 02:00:00    135.300000  0.000000e+00  1.501657e+09  bitcoin
2013-05-01 02:00:00    117.000000  0.000000e+00  1.298952e+09  bitcoin
2013-05-02 02:00:00    103.430000  0.000000e+00  1.148668e+09  bitcoin
...                           ...           ...           ...      ...
2022-10-07 02:00:00  19949.051041  3.135476e+10  3.825056e+11  bitcoin
2022-10-08 02:00:00  19457.308951  2.544504e+10  3.731709e+11  bitcoin
2022-10-09 02:00:00  19418.037989  1.299618e+10  3.723919e+11  bitcoin
2022-10-10 02:00:00  19448.149002  1.440462e+10  3.722647e+11  bitcoin
2022-10-11 01:57:05  19140.380966  2.373619e+10  3.672071e+11  bitcoin

[3452 rows x 4 columns]